{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block account_content %}
<div class="text-center">
    <div class="mb-3 text-success">
        <i class="fas fa-paper-plane fa-3x"></i> </div>
    <h3 class="fw-bold">ইমেইল পাঠানো হয়েছে!</h3>
    <p class="mt-3">আমরা আপনার ইমেইলে একটি পাসওয়ার্ড রিসেট লিঙ্ক পাঠিয়েছি। যদি ইমেইলটি না পান, তবে আপনার <strong>Spam</strong> ফোল্ডারটি চেক করুন।</p>
    
    <div class="mt-4">
        <a href="{% url 'account_login' %}" class="btn btn-outline-primary">লগইন পেজে ফিরে যান</a>
    </div>
</div>
{% endblock %}