{% load static %}

{% if posts.number == 1 %}
<div class="blog-list clearfix">
{% endif %}

    {% for blog in posts %}
        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="{% url 'single_post' blog.slug %}" title="">
                        {% if blog.feature_img %}
                            <img src="{{ blog.feature_img.url }}" alt="" class="img-fluid">
                        {% else %}
                            <img src="{% static 'upload/garden_sq_01.jpg' %}" alt="" class="img-fluid">
                        {% endif %}
                        <div class="hovereffect"></div>
                    </a>
                </div>
            </div>

            <div class="blog-meta big-meta col-md-8">
                <span class="bg-aqua"><a href="{% url 'category' blog.category.category_slug %}" title="">{{ blog.category.category_title }}</a></span>
                <h4><a href="{% url 'single_post' blog.slug %}" title="">{{ blog.title }}</a></h4>
                <p>{{ blog.post_details|truncatewords_html:30|safe }}
                    <a href="{% url 'single_post' blog.slug %}" class="btn btn-primary btn-sm px-3 py-1" style="border-radius:50px;">Read More</a>
                </p>
                <small><i class="fa fa-eye"></i> Total Views: {{ blog.views_count }}</small>
                <small> Posted Time: {{ blog.created_at|date:"d M, Y" }}</small>
                <small>by {{ blog.author.user.username }}</small>
            </div>
        </div>

        <hr class="invis">

        {% if forloop.counter == 3 and posts.number == 1 %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="{% static 'upload/banner_05.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="invis">
        {% endif %}

    {% empty %}
        {% if posts.number == 1 %}
            <div class="alert alert-info">No posts found in this category.</div>
        {% endif %}
    {% endfor %}

    {% if posts.has_next %}
    <div hx-get="?page={{ posts.next_page_number }}" 
        hx-trigger="revealed delay:300ms" 
        hx-swap="outerHTML"
        class="text-center mt-4 mb-4" 
        style="padding: 20px;">
        <i class="fa fa-spinner fa-spin fa-2x color-green" style="color: #28a745;"></i>
        <p class="text-muted mt-2">Loading more posts...</p>
    </div>
    {% endif %}

{% if posts.number == 1 %}
</div>
{% endif %}