{% load static %}
<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-legal-links text-center mb-3">
                    <ul class="list-inline mb-0 d-flex justify-content-center flex-wrap gap-2">
                        <li class="list-inline-item">
                            <a href="{% url 'home' %}" class="text-reset text-decoration-none fw-medium">Home</a>
                        </li>
                        {% for p in all_legal_pages %}
                            <li class="list-inline-item d-flex align-items-center">
                                <span class="me-2 opacity-50">|</span>
                                <a href="{{ p.get_absolute_url }}" class="text-reset text-decoration-none fw-medium">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr style="border-top: 1px solid rgba(0,0,0,0.1); margin: 20px 0;">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="footer-text text-center">
                    <a href="{% url 'home' %}" class="d-block mb-4">
                        <img src="{% static 'images/version/garden-footer-logo.png' %}" alt="Forest Time Footer Logo" class="img-fluid" style="max-width: 200px;" loading="lazy">
                    </a>
                    
                    <p class="text-secondary mb-4 px-md-5">Forest Time is a personal blog for handcrafted photography content, gardening tips, and lifestyle stories from independent creatives around the world.</p>
                    
                    <div class="social d-flex justify-content-center gap-3 mb-5">
                        <a href="https://facebook.com/yourprofile" target="_blank" class="text-reset" data-bs-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>             
                        <a href="https://twitter.com/yourprofile" target="_blank" class="text-reset" data-bs-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://instagram.com/yourprofile" target="_blank" class="text-reset" data-bs-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://pinterest.com/yourprofile" target="_blank" class="text-reset" data-bs-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>

                    <div class="newsletter-widget mx-auto" style="max-width: 500px;">
                        <form hx-post="{% url 'subscribe' %}" class="d-flex gap-2 mb-2">
                            {% csrf_token %}
                            <input type="email" name="email" class="form-control rounded-0" placeholder="Enter your email address" required>
                            <button type="submit" class="btn btn-primary rounded-0 px-4">Subscribe</button>
                        </form>
                        <div id="subscriber-message" class="small mt-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="copyright text-secondary small">
                    &copy; {% now "Y" %} <span class="fw-bold text-dark">Forest Time</span>. All rights reserved. 
                    <p class="mt-2">Developed by <a href="https://github.com/masudalnahid07" target="_blank" class="text-success fw-bold text-decoration-none">Masud Al Nahid</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<button id="smart-scroll-top" class="btn btn-success rounded-circle shadow" title="Scroll to top" style="position: fixed; bottom: 30px; right: 30px; width: 45px; height: 45px; display: none; z-index: 999;">
    <i class="fa fa-arrow-up"></i>
</button>