{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-legal-links text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{% url 'home' %}" style="color: inherit; font-weight: 500; text-decoration: none;">Home</a>
                            {% if all_legal_pages %}
                                <span class="mx-2" style="opacity: 0.5;">|</span>
                            {% endif %}
                        </li>

                        {% for p in all_legal_pages %}
                            <li class="list-inline-item">
                                <a href="{{ p.get_absolute_url }}" style="color: inherit; font-weight: 500; text-decoration: none;">{{ p.title }}</a>
                                {% if not forloop.last %}
                                    <span class="mx-2" style="opacity: 0.5;">|</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr style="border-top: 1px solid rgba(255,255,255,0.1); margin-top: 15px; margin-bottom: 30px;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="widget">
                    <div class="footer-text text-center">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/version/garden-footer-logo.png' %}" alt="Forest Time Footer Logo" class="img-fluid" loading="lazy">
                        </a>
                        
                        <p style="color: inherit; opacity: 0.8;">Forest Time is a personal blog for handcrafted photography content, gardening tips, and lifestyle stories from independent creatives around the world.</p>
                        
                        <div class="social">
                            <a href="https://facebook.com/yourprofile" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>               
                            <a href="https://twitter.com/yourprofile" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://instagram.com/yourprofile" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://pinterest.com/yourprofile" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </div>

                        <hr class="invis">

                        <div class="newsletter-widget text-center">
<form hx-post="{% url 'subscribe' %}" class="form-inline justify-content-center">
    {% csrf_token %}
    <input type="email" name="email" class="form-control" placeholder="Enter your email address" required>
    <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
    
    <div id="subscriber-message"></div>
</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <div class="copyright" style="color: inherit; opacity: 0.6;">
                    &copy; {% now "Y" %} **Forest Time**. All rights reserved. 
                    <br>
                    Developed by <a href="https://github.com/masudalnahid07" target="_blank" style="color: #28a745; font-weight: bold;">Masud Al Nahid</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<button id="smart-scroll-top" title="Scroll to top">
<i class="fa fa-arrow-up"></i>
</button>