{% extends "base.html" %}
{% load static %}
{% load social_share %}


{% block title %}
    <title>{{ post.title }} - Forest Time</title>
    <meta name="description" content="{{ post.meta_description }}">
{% endblock title %}

{% block content %}
<section class="section wb">
    <div class="container">
        <div class="row gx-lg-5">
            
            <div class="col-lg-8 col-md-12 content-column">
                <div id="live-search-results"> 
                    <div class="page-wrapper">
                        <div class="blog-title-area">
                            <span class="color-green"><a href="{% url 'category' post.category.category_slug %}">{{post.category.category_title}}</a></span>
                            <h1 style="font-weight: 800; font-size: 34px; margin-top: 10px; color: inherit;">{{post.title}}</h1>
                            <div class="blog-meta big-meta">
                                <small>{{ post.created_at|date:"d M, Y"}}</small>
                                <small>by {{ post.author }}</small>
                                <small><i class="fa fa-eye"></i> {{ post.views_count }} Views</small>
                            </div>

                            <div class="post-sharing clearfix" style="margin-top: 20px;">
    <ul class="list-inline">
        <li>
            {% post_to_facebook object_or_url '<i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span>' "fb-button btn btn-primary" %}
        </li>
        
        <li>
            {% post_to_twitter "Check out: {{post.title}}" object_or_url '<i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span>' "tw-button btn btn-primary" %}
        </li>
        
        <li>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" 
            target="_blank" 
            class="gp-button btn btn-primary" 
            style="background-color: #0077b5 !important; border: none;">
            <i class="fa fa-linkedin"></i>
            </a>
        </li>

        <li>
            {% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp"></i>' "wa-button btn btn-success" %}
        </li>
    </ul>
</div>
                        </div>

                        {% if post.post_type == 'review' and post.product_name %}
                        <div class="review-card">
                            <div class="row align-items-center">
                                <div class="col-md-5 text-center">
                                    {% if post.feature_img %}
                                        <img src="{{ post.feature_img.url }}" alt="{{ post.product_name }}" class="img-fluid" style="border-radius: 8px;" fetchpriority="high">
                                    {% endif %}
                                </div>
                                <div class="col-md-7">
                                    <h3 style="margin-top: 15px; color: inherit;">{{ post.product_name }}</h3>
                                    <div style="color: #f1c40f; margin-bottom: 15px;">
                                        {% for i in "12345" %}
                                            <i class="fa fa-star{% if forloop.counter > post.rating_value %}-o{% endif %}"></i>
                                        {% endfor %}
                                        <span style="color: #666; font-size: 14px;">({{ post.rating_value }}/5)</span>
                                    </div>
                                    <a href="{{ post.product_url }}" target="_blank" rel="nofollow sponsored" class="btn-amazon-modern">Check Price on Amazon</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="blog-content">
                            <div class="pp" style="color: inherit;">
                                {{ post.post_details|safe }}
                            </div>
                        </div>

                        <hr class="invis">

                        <div class="custombox clearfix" style="clear: both; margin-top: 50px;">
                            <h4 class="small-title">You May Also Like</h4>
                            <div class="row">
                                {% for related in related_posts %}
                                    <div class="col-lg-6">
                                        <div class="related-post-container">
                                            <a href="{% url 'single_post' related.slug %}">
                                                <img src="{% if related.feature_img %}{{ related.feature_img.url }}{% else %}{% static 'upload/garden_sq_01.jpg' %}{% endif %}" alt="{{ related.title }}" loading="lazy">
                                                <div class="related-overlay">
                                                    <h4 style="color: #fff !important;">{{ related.title|truncatechars:45 }}</h4>
                                                    <small style="color: #eee !important;">{{ related.created_at|date:"d M, Y" }}</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> 

            <div class="col-lg-4 col-md-12 sidebar-column">
                <div class="sidebar sidebar-sticky">
                    {% include "partials/sidebar.html" %}
                </div>
            </div> 

        </div> 
    </div> 
</section>
{% endblock content %}