{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            {% for blog in blogs %}
            <div class="center-side">
                <div class="masonry-box post-media">
                    {% if blog.feature_img %}
                        <img src="{{ blog.feature_img.url }}" class="img-fluid" alt="">
                    {% else %}
                        <img src="{% static 'upload/garden_cat_01.jpg' %}" class="img-fluid" alt="Default Image">
                    {% endif %}
                    
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="{% url 'category' blog.category.category_slug %}" title="">{{ blog.category.category_title }}</a></span>
                                <h4><a href="{% url 'single_post' blog.slug %}" title="">{{ blog.title }}</a></h4>
                                <small><a href="{% url 'single_post' blog.slug %}" title="">{{ blog.created_at }}</a></small>
                                <small><a href="#" title="">Posted_By {{ blog.author }}</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div id="live-search-results">
                    {% include 'partials/blog_list_partial.html' %}
                </div>
            </div> 

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {% include "partials/sidebar.html" %}
            </div> 
        </div> 
    </div>
</section>
{% endblock content %}